<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>
            Microsoft account | Account
        </title>
        <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
        <style> 
        body{font-family:"Segoe UI","Segoe UI Symbol",Arial,Helvetica,sans-serif;font-size: 15px;line-height: 20px;padding-bottom: 0.227px;padding-top: 0.227px;font-weight: 400;color: #000000;background-color: #FFFFFF;}
        </style>
        </head>
        <body id="error-page">
            <div id="error-header" style="margin-top: 20px;padding-bottom: 14px;">
                <a style="float: left;" href="/">
                    <img src="/content/images/msft-logo.jpg" alt="Account" title="Account">
                </a>
                <span style="padding-left: 15px;margin-left: 15px;font-size: 17px;line-height: 23px;color: #aaa;border-left: 1px solid #aaa;">
                    Account
                </span>
            </div>
            <h1 id="error-title" style="font-size: 34px;line-height: 40px;padding-bottom: 3.3628px;padding-top: 3.3628px;font-weight: 200;">
                Try again later
            </h1>
            <h2 id="error-summary" style="font-size: 24px;line-height: 32px;padding-bottom: 3.1812px;padding-top: 3.1812px;font-weight: 200;">
                Sorry, there’s something temporarily wrong with this site. While we fix the problem, you may find these links helpful:
            </h2>
            <ul id="error-links" style="padding: 0;margin: 0;list-style: none;">
                <li>
                    <a href="http://www.microsoft.com" alt="Learn about Microsoft products">
                        Learn about Microsoft products
                    </a>
                </li>
                <li>
                    <a href="http://support.microsoft.com" alt="Get help from Microsoft support">
                        Get help from Microsoft support
                    </a>
                </li>
            </ul><!--Cv: 'pirnOlxa2E+AOT5v.7.0'; Served-By: 'f2g/1bBApeQ1FUPq7xnFhDg05Mt+u87Qq5UhunTHm9pwlEonDDFoV72Heszl5k7v3GKzTZSgzunfyiJ2guNCwA==::hwLbQO7CcJfEY9I+UTroqA=='-->
        </body>
        </html>
